# Byte-compiled / compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
venv/
env/

# Logs and databases
logs/
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PySpark specific files
derby.log
metastore_db/

# OS-specific
.DS_Store
Thumbs.db
